/* Page One About */
/* Canvas Page One */
.WrapAboutPage0ne{
    top: 2607px;
    left: 83px;
}
.AboutOne{
    background-image: url("Background About Page 1.png");
}
/* Button Home */
.WrapHomeBtnOne{
    top: 2620px;
    left: 100px;
}
.HomeBtnOne{
    background-image: url("Back Button.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
    cursor: pointer;
}
.HomeBtnOne:hover{
    background-image: url("Back Button Hover.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
}
.HomeBtnOne:active{
    background-image: url("Back Button.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
}
/* Button Next */
.WrapNextBtnOne{
    left: 1169px;
    top: 3145px;
}
.NextBtnOne{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Next.png");
}
.NextBtnOne:hover{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Next Hover.png");
}
.NextBtnOne:active{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Next Active.png");
}

/* Page Two About */
/* Canvas Page Two */
.WrapAboutPageTwo{
    top: 2607px;
    left: 1449px;
}
.AboutTwo{
    background-image: url("Background About Page 2.png");
}
/* Home Button */
.WrapHomeBtnTwo{
    top: 2620px;
    left: 1466px;
}
.HomeBtnTwo{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 60px;
    height: 63px;
    background-image: url("Home Button.png");
}
/* Back Button */
.WrapBackBtnOne{
    top: 3145px;
    left: 1464px;
}
.BackBtnOne{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Back.png");
}
.BackBtnOne:hover{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Back Hover.png");
}
.BackBtnOne:active{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Back Active.png");
}
/* Next Button */
.WrapNextBtnTwo{
    top: 3145px;
    left: 2535px;
}
.NextBtnTwo{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Next.png");
}
.NextBtnTwo:hover{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Next Hover.png");
}
.NextBtnTwo:active{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Next Active.png");
}

/* Page Three About */
.WrapAboutPageThree{
    top: 2607px;
    left: 2815px;
}
.AboutThree{
    background-image: url("Background About Page 3.png");
}
/* Home Button */
.WrapHomeBtnThree{
    top: 2620px;
    left: 2832px;
}
.HomeBtnThree{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 60px;
    height: 63px;
    background-image: url("Home Button.png");
}
/* Back Button */
.WrapBackBtnTwo{
    top: 3145px;
    left: 2830px;
}
.BackBtnTwo{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Back.png");
}
.BackBtnTwo:hover{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Back Hover.png");
}
.BackBtnTwo:active{
    color: transparent;
    background-color: transparent;
    border: hidden;
    width: 100px;
    height: 50px;
    background-image: url("Button Back Active.png");
}