/* Canvas Settings */
.WrapCanvasSettings{
    top: 1961px;
    left: 83px;
}
.CanvasSettings{
    background-image: url("Background Settings.png");
}
/* Tittle Settings */
.WrapTittleSettings{
    top: 1961px;
    left: 578px;
}
.WrapLineTittleSettings{
    top: 2015px;
    left: 578px;
}
.TittleSettings{
    color: white;
    font-size: 40px;
    text-align: center;
    width: 200px;
}
.LineTittleSettings{
    background-color: white;
    width: 200px;
    border-radius: 10px;
    height: 1px;
    border-top: white 2px solid;
    border-bottom: grey 3px solid;
}


/* Tittle Volume */
.WrapTittleVolume{
    top: 2030px;
    left: 133px;
    width: 500px;
}
.WrapTittleMusicVolume{
    left: 200px;
    top: 2150px;
}
.WrapTittleSoundVolume{
    left: 200px;
    top: 2350px;
}
.WrapVolumeMusic{
    left: 360px;
    top: 2150px;
}
.WrapVolumeSound{
    left: 360px;
    top: 2350px;
}
.VolumeMusic{
    font-size: 25px;
    color: white;
}
.VolumeSound{
    font-size: 25px;
    color: white ;
}
.TittleVolume{
    color: white;
    color: skyblue;
    font-size: 35px;
    text-align: center;
    border-bottom: 5px groove cyan;
}
.TittleMusicVolume{
    font-size: 30px;
    color: white;
}
.TittleSoundVolume{
    font-size: 30px;
    color: white;
}


/* Middle Line */
.WrapLineSET{
    top: 2080px;
    left: 678px;
}
.LineSET{
    color: white;
    width: 10px;
}


/* Tittle Controller */
.WrapTittleController{
    top: 2030px;
    left: 733px;
    width: 500px;
}
.WrapTittleKeyArrow{
    left: 1080px;
    top: 2175px;
}
.WrapTittleWASD{
    left: 1080px;
    top: 2390px;
}
.TittleController{
    color: skyblue;
    font-size: 35px;
    text-align: center;
    border-bottom: 5px groove cyan;
}
.TittleKeyArrow{
    color: white;
    background-color: blue;
    border-top: 1px skyblue groove;
    border-left: 1px blue groove;
    border-right: 1px blue groove;
    border-bottom: 1px darkblue groove;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.TittleWASD{
    color: white;
    background-color: black;
    border-top: 1px skyblue groove;
    border-left: 1px blue groove;
    border-right: 1px blue groove;
    border-bottom: 1px darkblue groove;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}


/* Button Controller */
.WrapKEYButton{
    left: 800px;
    top: 2150px;
}
.WrapWASDButton{
    left: 800px;
    top: 2350px;
}
.wasdSelect{
    position: absolute;
    left: 1080px;
    top: 2460px;
    color: white;
    background-color: black;
    border-top: 1px skyblue groove;
    border-left: 1px blue groove;
    border-right: 1px blue groove;
    border-bottom: 1px darkblue groove;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
}
.WASDButton{
    border: 10px groove silver;
    color: transparent;
    background-color: transparent;
    width: 220px;
    height: 170px;
    background-image: url("KeyWASD.png");
}
.keySelect{
    position: absolute;
    left: 1080px;
    top: 2250px;
    color: white;
    background-color: black;
    border-top: 1px skyblue groove;
    border-left: 1px blue groove;
    border-right: 1px blue groove;
    border-bottom: 1px darkblue groove;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
}
.KEYButton{
    border: 10px groove blue;
    color: transparent;
    background-color: transparent;
    width: 220px;
    height: 170px;
    background-image: url("KeyArrow.png");
}


/* Back Button */
.WrapBackSettings{
    top: 1975px;
    left: 100px;
}
.BackSettings{
    background-image: url("Back Button.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
    cursor: pointer;
}
.BackSettings:hover{
    background-image: url("Back Button Hover.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
}
.BackSettings:active{
    background-image: url("Back Button.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

/* Button Volume */
.WrapMusicVolume{
    left: 230px;
    top: 2250px;
}
.WrapSoundVolume{
    left: 230px;
    top: 2450px;
}
input[type=range]{
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px;
}
.MusicVolume[type=range]::-webkit-slider-runnable-track{
    background-image: url("Parameter.png");
    height: 20px;
}
.MusicVolume[type=range]:focus::-webkit-slider-runnable-track {
    background-image: url("Parameter Hover.png");
    height: 20px;
}
.MusicVolume[type=range]:focus::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url("Button Music Hover.png");
    margin-top: -10px;
}
.MusicVolume[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url("Button Music.png");
    margin-top: -10px;
    
}
.MusicVolume[type=range]:focus {
    outline: none;
}
.SoundVolume[type=range]:focus {
    outline: none;
}
/* Button Volume */
.SoundVolume[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url("Button Sound.png");
    margin-top: -10px;
    
}
.SoundVolume[type=range]:focus::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url("Button Sound Hover.png");
    margin-top: -10px;
}
/* Parameter Volume */
.SoundVolume[type=range]:focus::-webkit-slider-runnable-track {
    background-image: url("Parameter Hover.png");
    height: 20px;
}
.SoundVolume[type=range]::-webkit-slider-runnable-track{
    background-image: url("Parameter.png");
    height: 20px;
}