/* Canvas Play Game */
.WrapCanvasPlayGame{
    top: 669px;
    left: 83px;
}
.CanvasPlayGame{
    background-image: url("Background Play Game.png");
}

/* Back Button */
.WrapBackPlay{
    top: 685px;
    left: 100px;
}
.BackPlay{
    background-image: url("Back Button.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
}
.BackPlay:hover{
    background-image: url("Back Button Hover.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
}
.BackPlay:active{
    background-image: url("Back Button.png");
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

/* Tittle Level Game */
.WrapTittleLevel{
    top: 685px;
    left: 580px;
}
.TittleLevel{
    text-align: center;
    color: white;
}
.TittleLevel:hover{
    color: aqua;
    cursor: default;
}

/* Display Level One - Three */
.WrapCompletedLvlOne{
    top: 850px;
    left: 203px;
}
.WrapCompletedLvlTwo{
    top: 850px;
    left: 573px;
}
.WrapCompletedLvlThree{
    top: 850px;
    left: 943px;
}
.WrapUnlockLvlOne{
    top: 850px;
    left: 203px;
}
.WrapUnlockLvlTwo{
    top: 850px;
    left: 573px;
}
.WrapUnlockLvlThree{
    top: 850px;
    left: 943px;
}
.WrapLockedLvlTwo{
    top: 850px;
    left: 573px;
}
.WrapLockedLvlThree{
    top: 850px;
    left: 943px;
}

/* Display Level One - Three */
.UnlockLvlOne{
    background-image: url("DisplayLevel.png");
    width: 220px;
    height: 320px;
    border: skyblue 10px groove;
}
.UnlockLvlTwo{
    background-image: url("DisplayLevel.png");
    width: 220px;
    height: 320px;
    border: skyblue 10px groove;
}
.UnlockLvlThree{
    background-image: url("DisplayLevel.png");
    width: 220px;
    height: 320px;
    border: skyblue 10px groove;
}

.LockedLevelTwo{
    background-image: url("DisplayLockedLevel.png");
    width: 220px;
    height: 320px;
    border: gray 10px outset;
}
.LockedLevelThree{
    background-image: url("DisplayLockedLevel.png");
    width: 220px;
    height: 320px;
    border: gray 10px outset;
}

/* Display Level One - Three When Its Completed */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.CompletedLevelOne{
    height: 320px;
    width: 220px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow:0 20px 35px rgba(0,0,0,3); */
    border-radius: 5px;
    overflow: hidden;
    background-color: #1c1b29;
}
.CompletedLevelOne:before{
    content: "";
    background-image: conic-gradient(
        #04b0ee 50deg,
        transparent 120deg
    );
    height: 150%;
    width: 300%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}
.CompletedLevelOne:after{
    content: "";
    height: 94%;
    width: 94%;
    position: absolute;
    background-image: url("DisplayCompletedLevel.png");
    border-radius: 5px;
    top: 3%;
    left: 3%;
    color: #04b0ee;
    display: grid;
    place-items: center;
    font-size: 20px;
    letter-spacing: 6px;
}
.CompletedLevelTwo{
    height: 320px;
    width: 220px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow:0 20px 35px rgba(0,0,0,3); */
    border-radius: 5px;
    overflow: hidden;
    background-color: #1c1b29;
}
.CompletedLevelTwo:before{
    content: "";
    background-image: conic-gradient(
        #04b0ee 50deg,
        transparent 120deg
    );
    height: 150%;
    width: 300%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: rotate 2s linear infinite;
}
.CompletedLevelTwo:after{
    content: "";
    height: 94%;
    width: 94%;
    position: absolute;
    background-image: url("DisplayCompletedLevel.png");
    border-radius: 5px;
    top: 3%;
    left: 3%;
    color: #04b0ee;
    display: grid;
    place-items: center;
    font-size: 20px;
    letter-spacing: 6px;
}
@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}
.CompletedLevelThree{
    height: 320px;
    width: 220px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow:0 20px 35px rgba(0,0,0,3); */
    border-radius: 5px;
    overflow: hidden;
    background-color: #1c1b29;
}
.CompletedLevelThree:before{
    content: "";
    background-image: conic-gradient(
        #04b0ee 50deg,
        transparent 120deg
    );
    height: 150%;
    width: 300%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: rotate 2s linear infinite;
}
.CompletedLevelThree:after{
    content: "";
    height: 94%;
    width: 94%;
    position: absolute;
    background-image: url("DisplayCompletedLevel.png");
    border-radius: 5px;
    top: 3%;
    left: 3%;
    color: #04b0ee;
    display: grid;
    place-items: center;
    font-size: 20px;
    letter-spacing: 6px;
}
@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}

/* The Troophies */
.WrapLvlOneAchievement{
    top: 750px;
    left: 213px;
}
.WrapLvlTwoAchievement{
    top: 750px;
    left: 583px;
}
.WrapLvlThreeAchievement{
    top: 750px;
    left: 953px;
}
.NoThroophyLvlOne{
    width: 200px;
    height: 160px;
    background-image: url("LevelOne.png");
}
.ThroophyLvlOne{
    width: 200px;
    height: 160px;
    background-image: url("LevelOneCompleted.png");
}
.LockedLvlTwo{
    width: 200px;
    height: 160px;
    background-image: url("Locked.png");
}
.NoThroophyLvlTwo{
    width: 200px;
    height: 160px;
    background-image: url("LevelTwo.png");
}
.ThroophyLvlTwo{
    width: 200px;
    height: 160px;
    background-image: url("LevelTwoCompleted.png");
}
.LockedLvlThree{
    width: 200px;
    height: 160px;
    background-image: url("Locked.png");
}
.NoThroophyLvlThree{
    width: 200px;
    height: 160px;
    background-image: url("LevelThree.png");
}
.ThroophyLvlThree{
    width: 200px;
    height: 160px;
    background-image: url("LevelThreeCompleted.png");
}

/* Button Level One - Three For Playing */
.WrapBtnLvlOne{
    top: 1180px;
    left: 250px;
}
.WrapBtnLvlTwo{
    top: 1180px;
    left: 620px;
}
.WrapBtnLvlThree{
    top: 1180px;
    left: 990px;
}

/* Button Level One - Three For Playing */
.BtnLvlOne{
    border: 6px skyblue groove;
    font-size: 20px;
    color: blue;
    background-color: cornflowerblue;
    width: 126px;
    height: 50px;
}
.BtnLvlOne:hover{
    border: 6px blue groove;
    font-size: 20px;
    color: skyblue;
    background-color: blueviolet;
    width: 126px;
    height: 50px;
}
.BtnLvlOne:active{
    color: darkslateblue;
    border: 6px #04b0ee groove;
    background-color: darkmagenta;
}
.BtnLvlTwo{
    border: 6px skyblue groove;
    font-size: 20px;
    color: blue;
    background-color: cornflowerblue;
    width: 126px;
    height: 50px;
}
.BtnLvlTwo:hover{
    border: 6px blue groove;
    font-size: 20px;
    color: skyblue;
    background-color: blueviolet;
    width: 126px;
    height: 50px;
}
.BtnLvlTwo:active{
    color: darkslateblue;
    border: 6px #04b0ee groove;
    background-color: darkmagenta;
}
.BtnLvlThree{
    border: 6px skyblue groove;
    font-size: 20px;
    color: blue;
    background-color: cornflowerblue;
    width: 126px;
    height: 50px;
}
.BtnLvlThree:hover{
    border: 6px blue groove;
    font-size: 20px;
    color: skyblue;
    background-color: blueviolet;
    width: 126px;
    height: 50px;
}
.BtnLvlThree:active{
    color: darkslateblue;
    border: 6px #04b0ee groove;
    background-color: darkmagenta;
}